<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<title>FenceDirect Contractor Search</title>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script type="text/javascript" src="../static/prototype.js"></script>
		<script type="text/javascript" src="../static/jquery.xdomainajax.js"></script>
		<script type="text/javascript" src="../static/contractor_info.js"></script>
		<script type="text/javascript" src="../static/contractor_search.js"></script>
	</head>
	<body>
		<script type="text/javascript">
			var zip = prompt("Enter customer's zip code:");
			if (zip != null) {			
				contractorSearch(zip, 35);
			} else {
				window.location.href = "index.html";
			}
		</script>
	</body>
</html>