<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<title>FenceDirect Contractor Search</title>
		<link rel="stylesheet" type="text/css" href="../static/css.css">
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script type="text/javascript" src="../static/jquery.cookie.js"></script>
		<script type="text/javascript" src="../static/contractor_info.js"></script>
		<script type="text/javascript" src="../static/list_contractors.js"></script>
	</head>
	<body>
		<a href="index.html"><h1>FenceDirect Contractor Search</h1></a>
		<h2>Edit Contractors</h2>
		<h5>Note: You can press Ctrl + F to quckly search for the desired entry or entries.</h5>
		<h3>Select which contractor(s) to edit:</h3>
		<div id="contractors" class="list">
			<script type="text/javascript">
				populateList();
			</script>
		</div><br>
		<div style="text-align:center;"><a href="#" id="submit" class="button">Continue</a></div>
		
		<script type="text/javascript">
			//CODE BELOW IS MODIFIED FROM STACKOVERFLOW USER Jonas G. Drange
			var d=document;
			var submitButton = d.getElementById('submit');
			var contractors = d.getElementById('contractors');
			submitButton.onclick = function () {
    			var response_array = inputsToArray(contractors.children);
    			response_array = response_array.join('**');
    			jQuery.cookie('toEdit', response_array);
    			location.replace('EditContractors2.html');
			};
		</script>
	</body>
</html>