<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<title>FenceDirect Contractor Search</title>
		<link rel="stylesheet" type="text/css" href="../static/css.css">
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script type="text/javascript" src="../static/jquery.cookie.js"></script>
		<script type="text/javascript" src="../static/contractor_info.js"></script>
		<script type="text/javascript" src="../static/file_saver.js"></script>
		<script type="text/javascript" src="../static/data_modifiers.js"></script>
	</head>
	<body>
		<a href="index"><h1>FenceDirect Contractor Search</h1></a>
		<h2>Edit Contractors</h2>
		<!--<h5>Change the relevant data in the boxes below, then hit the "Save Changes" button at the bottom of the page to download the updated data file.</h5>-->
		<h5>Change the relevant data in the boxes below, then hit the "Save Changes" button at the bottom of the page.</h5>
		<script type="text/javascript">
		    var array = jQuery.cookie('toEdit');
			array = array.split('**');		
			var name;
			var zip;
			var n;
			for (var i=0; i<array.length; i++) {
				n = array[i].indexOf("@@");
				if (n!=-1) {
					name = array[i].substring(0,n);
					zip = array[i].substring(n+2);
					document.write("<h4>"+name+"</h4>");
					prefillForm(name, zip, i);
					document.write("<br>");
				}
			}
			document.write('<div style="text-align:center;"><a href="#" onclick="editSaveAll('+i+');return false;" id="saveChanges" class="button">Save Changes</a></div>');
		</script>
		
	</body>
</html>