<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<title>FenceDirect Contractor Search</title>
		<link rel="stylesheet" type="text/css" href="../static/css.css">
		<script type="text/javascript" src="../static/contractor_info.js"></script>
		<script type="text/javascript" src="../static/file_saver.js"></script>
		<script type="text/javascript" src="../static/auto_clean.js"></script>
	</head>
	<body onload="autoClean();">
		<a href="index"><h1>FenceDirect Contractor Search</h1></a>
		<h2>Press a button to begin:</h2>
		<div style="text-align:center; padding-top:30px; padding-bottom:55px;"><a href="ContractorSearch" class="button main">Contractor Search</a></div>
		<table align="center">
			<tr>
				<td><a href="AddContractor" class="button">Add Contractors</a></td>
				<td><a href="EditContractors" class="button">Edit Contractors</a></td>
				<td><a href="RemoveContractors" class="button">Remove Contractors</a></td>
				<!--<td><a href="AutoClean" class="button">Clear Old Entries</a></td>-->
			</tr>
		</table>
		<script type="text/javascript">
		</script>
	</body>
</html>
