<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<title>FenceDirect Contractor Search</title>
		<link rel="stylesheet" type="text/css" href="Non-Html/css.css">
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script type="text/php" src="Non-Html/file_save_helper.php"></script>
		<script type="text/javascript" src="Non-Html/contractor_info.js"></script>
		<script type="text/javascript" src="Non-Html/file_saver.js"></script>
		<script type="text/javascript" src="Non-Html/data_modifiers.js"></script>
		<script type="text/javascript" src="Non-Html/list_contractors.js"></script>
	</head>
	<body>
		<a href="index.html"><h1>FenceDirect Contractor Search</h1></a>
		<h2>Remove Contractors</h2>
		<h5>Note: You can press Ctrl + F to quckly search for the desired entry or entries.</h5>
		<h3>Select which contractor(s) to remove:</h3>
		<div id="contractors" class="list">
			<script type="text/javascript">
				populateList();
			</script>
		</div>
		<div style="text-align:center;"><a href="#" id="submit" class="button main">Save Changes</a></div>
		
		<script type="text/javascript">
			//CODE BELOW IS MODIFIED FROM STACKOVERFLOW USER Jonas G. Drange
			var d=document;
			var submitButton = d.getElementById('submit');
			var contractors = d.getElementById('contractors');
			submitButton.onclick = function () {
    			var response_array = inputsToArray(contractors.children);
   				var name;
   				var zip;
   				var n;
    			for (var i=0; i<response_array.length; i++) {
    				n = response_array[i].indexOf("@@");
    				if (n!=-1) {
    					name = response_array[i].substring(0,n);
    					zip = response_array[i].substring(n+2);
    					removeContractor(name, zip);
    				}
    			}
    			saveUpdates(CONTRACTOR_INFO);
			};
		</script>
	</body>
</html>